<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Scan Barcode</h1>

            <p>
                <!--{{paper-text label="Barcode" value=name}}-->
              {{input type="text" placeholder="X XXXXXX XXXXXX"}}
            </p>

            <p>
              {{#paper-button raised=true classNames="paper-primary" action='acceptBarcode'}}Lookup{{/paper-button}}
            </p>

            <p>
              {{outlet}}
            </p>
        </div>
    </div>
</div>
